{% extends 'base.html' %}

{% block head %}

{% endblock %}

{%block body%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/owner_page.css') }}">
<div class="hero">
  <form class="logout" action="{{ url_for('logout') }}">
    <button type="submit" id="logout" name="logout">Logout</button>
  </form>
  <div class="owner-row">

    <div class="owner-col">
      <img src="/static/images/place.png" alt="">
    </div>
    <div class="owner-col">
      <div class="placeform">
        <h1>Add a place</h1>
        <form method="POST">
          <label for="placename"><b>Place name:</b></label>
          <input type="text" name="placename" placeholder="Enter your place name" id="placename" value="" required />
          <label for="address"><b>Address</b></label>
          <input type="text" name="address" placeholder="Enter the place address" id="address" required />
          <input type="submit" id="submitbutton">
        </form>
        <div id="qrcode"></div>
      </div>
    </div>
  </div>

</div>
{%endblock%}