{%extends 'base.html'%}
{%block title%}All Users{%endblock%}
{%block content%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/agentaccesspages.css') }}">

  <form method="POST">
    <h4>Note: To get all users just press "Search" without filling the search field</h4><br>
    <input id="searchbar" type="search" placeholder="Search Users By Name" name="searchbar" value="" >
    <input type="submit" name="" value="Search">
    <table class="infotable">
      <tr>
        <th>UserID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Status(1=infected,0=not infected)</th>
        <th>User Type</th>
      </tr>
      {%for user in users%}
        <tr>
          <td>{{user[0]}}</td>
          <td>{{user[1]}}</td>
          <td>{{user[2]}}</td>
          <td>{{user[3]}}</td>
          <td>{{user[4]}}</td>
          <td>{{user[5]}}</td>
          <td>{{user[6]}}</td>
        </tr>
      {%endfor%}
    </table>
    <a href="/agent/{{username}}">Go back</a>
{%endblock%}
