<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta charset="utf-8" />
    <!-- <link rel="stylesheet" href="static/style.css"> -->
    <title>MANAGIT - Corona disease management</title>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="./static/images/favicon.png">
    <style media="screen">
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      html{
        scroll-behavior: smooth;
      }
      body{
        font-family: 'Asap', sans-serif;
        perspective:800px;
        background: linear-gradient(to bottom,#008037ab,#ffba3b8c);
        height: 100vh;
        margin:0;
        overflow: hidden;
      }
    </style>
    <title>{%block title%}{%endblock%}</title>
  </head>
  <body>
    {%block content%}{%endblock%}
  </body>
</html>
