{%extends 'base.html'%}
{%block title%}Place_Owner{%endblock%}
{%block content%}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/owner_page.css') }}">
    <div class="placeform">
      <h1>Add a place</h1>
      <form method="POST">
        <label for="placename"><b>Place name:</b></label>
        <input type="text" name="placename" placeholder="Enter your place name" id="placename" value="" required/>
        <label for="address"><b>Address</b></label>
        <input type="text" name="address" placeholder="Enter the place address" id="address" required/>
        <input type="submit" name="submitbutton">
      </form>
      <div id="qrcode"></div>
    </div>
{%endblock%}
