.hero {
  padding-top: 3rem;
  display: block;
  text-align: center;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.userstable {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.userstable thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.userstable th,
.userstable td {
  padding: 12px 15px;
}
.userstable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.userstable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.userstable tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.userstable tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
td {
  text-align: center;
}

.submitbtn {
  width: 9%;
  color: black;
  font-weight: bold;
  background-color: white;
  border: none;
  top: 2rem;
  right: 5rem;
  position: absolute;
  padding: 10px;
  border-radius: 12px;
  background-color: red;
  text-align: center;
}
.submitbtn:hover {
  background-color: black;
  color: white;
  border: 2px white solid;
}
