.body{
  height: 100vh;
}

.videobox{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
}
h1{
  text-align: center;
}
#videoElement {
	width: 500px;
	height: 375px;
	background-color: black;
  border: 10px solid ;
}

.input-hidden {
  opacity: 0;
  width: 0;
  height: 0;
  border: none;
  position: absolute;
  pointer-events: none;
}
