*{
    margin: 0;
    padding: 0;
    font-family: 'sans-serif', monospace;
}

h4 {
    font-weight: bold;
    color: red;
}

#entity_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

#entity_table td, #entity_table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
#entity_table tr:nth-child(even){background-color: #f2f2f2;}
  
#entity_table tr:hover {background-color: #ddd;}
  
#entity_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #d36216;
    color: white;
}

h1 {
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 62px;
}
  
p {
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 40px;
}

.background{
    min-height: 100vh;
    width: 100%;
    background-image: url(img/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 1% 7%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 200px;
    padding: 0% 80%;
}

.links{
    flex: 1;
    text-align: right;
}
.links ul li{
    list-style: none;
    display: inline-block;
    padding: 40px 12px;
    position: relative;
}
.links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
}
.links ul li::after{
    content: "";
    width: 0%;
    height: 3px;
    background: rgb(176, 98, 194);
    display: block;
    margin: auto;
    transition: 0.3s;
}
.links ul li:hover::after{
    width: 100%;
}

.infoline{
    width: 90%;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 30%;
    left: 95%;
    transform: translate(-100%, -0%);
    text-align: right;
}

.design{
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    padding: 20px 20px 20px 20px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
}


