*{
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: bold;
    color: rgb(141, 21, 21);
    text-align: center;
}

#entity_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

#entity_table td, #entity_table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
#entity_table tr:nth-child(even){background-color: #f2f2f2;}
  
#entity_table tr:hover {background-color: #ddd;}
  
#entity_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #d36216;
    color: white;
}

.button {
    background-color: #d36216;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
  }

  .button:hover {
    background-color: rgb(141, 21, 21);
  }

#t1{
    font-weight: bold;
    font-family: Arial;
}

#t2{

    font-weight: bold;
    font-family: Arial;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

input[type=submit] {
    background-color: #cf5923;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.container {
    padding: 16px;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  img.avatar {
    width: 20%;
    border-radius: 50%;
  }

h3 {
    font-weight: bold;
    text-align: center;
}