* {
  margin: 0;
  padding: 0;
  font-family: "poppins";
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(-100%);
    opacity: 0%;
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft2 {
  0% {
    transform: translateX(-100%);
    opacity: 0%;
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes slideInFrombot {
  0% {
    transform: translateY(100%);
    opacity: 0%;
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

.hero {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #800000d0, #000000);
  position: absolute;
  background-position: bottom;
  background-size: cover;
}

.form-box {
  width: 380px;
  height: 500px;
  position: relative;
  margin: 6% auto;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  padding: 5px;
  animation-duration: 1s; /* the duration of the animation */
  animation-timing-function: ease-in-out; /* how the animation will behave */
  animation-delay: 0s; /* how long to delay the animation from starting */
  animation-iteration-count: 1; /* how many times the animation will play */
  animation-name: slideInFromLeft; /* the name of the animation we defined above */
}

.form-box2 {
  width: 350px;
  height: 400px;
  position: relative;
  margin: 8% 60%;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  padding: 5px;
  animation-duration: 1s; /* the duration of the animation */
  animation-timing-function: ease-in-out; /* how the animation will behave */
  animation-delay: 0s; /* how long to delay the animation from starting */
  animation-iteration-count: 1; /* how many times the animation will play */
  animation-name: slideInFromLeft; /* the name of the animation we defined above */
}

.button-box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  border-radius: 30px;
  border: solid 1px rgb(236, 236, 236);
}

.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btnr {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #800000, #ffbb3b);
  border-radius: 30px;
  transition: 0.5s;
}

.input-grp {
  top: 180px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}

.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #800000, #ffbb3b);
  border: 0;
  outline: none;
  border-radius: 30px;
}
.submit-btn:hover {
  transition: all 0.4s ease;
  color: white;
}

.check-box {
  margin: 10px 10px 30px 0;
}

#spanr {
  color: #777;
  font-size: 12px;
  bottom: 68px;
  position: absolute;
}

#login {
  left: 50px;
}

#register {
  left: 450px;
}

.logo-hp img {
  width: 80%;
  margin-left: 42px;
  position: absolute;
  top: 20px;
}

.hp-text {
  text-align: center;
  margin-top: 30px;
}

.title {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title a {
  text-decoration: none;
}

.title button {
  font-size: 15px;
  width: 60%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #800000ec, rgba(0, 0, 0, 0.904));
  border: 0;
  outline: none;
  border-radius: 30px;
  margin-top: 25px;
  color: white;
}

.title button:hover {
  background: #800000ec;
}

h4 {
  font-weight: bold;
  color: red;
}

#entity_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#entity_table td,
#entity_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#entity_table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#entity_table tr:hover {
  background-color: #ddd;
}

#entity_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #d36216;
  color: white;
}

h1 {
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 40px;
}

p {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.background {
  min-height: 100vh;
  width: 100%;
  background-image: url(./images/background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 1% 7%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 200px;
  padding: 0% 80%;
}

.links {
  flex: 1;
  text-align: right;
}
.links ul li {
  list-style: none;
  display: inline-block;
  padding: 40px 12px;
  position: relative;
}
.links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
}
.links ul li::after {
  content: "";
  width: 0%;
  height: 3px;
  background: rgb(176, 98, 194);
  display: block;
  margin: auto;
  transition: 0.3s;
}
.links ul li:hover::after {
  width: 100%;
}

.infoline {
  width: 55%;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 25%;
  left: 10%;
  animation-duration: 1s; /* the duration of the animation */
  animation-timing-function: ease-in-out; /* how the animation will behave */
  animation-delay: 0s; /* how long to delay the animation from starting */
  animation-iteration-count: 1; /* how many times the animation will play */
  animation-name: slideInFrombot; /* the name of the animation we defined above */
}

.design {
  display: inline-block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  padding: 20px 20px 20px 20px;
  font-size: 20px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
