* {
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    /* align-items: center; */
}

@keyframes slideInFromLeft {
    0% {
        transform: translateY(-100%);
        opacity: 0%;
    }
    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}

@keyframes slideInFromLeft2 {
    0% {
        transform: translateX(-100%);
        opacity: 0%;
    }
    100% {
        opacity: 100%;
        transform: translateX(0);
    }
}

@keyframes slideInFrombot {
    0% {
        transform: translateY(100%);
        opacity: 0%;
    }
    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}

.hero {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #800000d0, #000000);
    position: absolute;
    background-position: bottom;
    background-size: cover;
}
.hero a {
    text-decoration: none;
}
.form-box {
    width: 380px;
    height: 500px;
    position: relative;
    margin: 2% auto;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    padding: 5px;
    animation-duration: 1s;
    /* the duration of the animation */
    animation-timing-function: ease-in-out;
    /* how the animation will behave */
    animation-delay: 0s;
    /* how long to delay the animation from starting */
    animation-iteration-count: 1;
    /* how many times the animation will play */
    animation-name: slideInFromLeft;
    /* the name of the animation we defined above */
}
.form-box-pr {
    width: 380px;
    height: 500px;
    position: relative;
    margin: 2% auto;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    padding: 5px;
    animation-duration: 1s;
    /* the duration of the animation */
    animation-timing-function: ease-in-out;
    /* how the animation will behave */
    animation-delay: 0s;
    /* how long to delay the animation from starting */
    animation-iteration-count: 1;
    /* how many times the animation will play */
    animation-name: slideInFromLeft;
    /* the name of the animation we defined above */
}

.logo-hp img {
    width: 20%;
    margin-left: 40%;
    margin-top: 20px;
    border-radius: 50%;
}

.hp-text {
    text-align: center;
    margin-top: 30px;
}

.back-btn{
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin-left: 80%;
    margin-top: 20px;
    background:white;
    border: 0;
    outline: none;
    border-radius: 30px;
    animation-duration: 1s;
    /* the duration of the animation */
    animation-timing-function: ease-in-out;
    /* how the animation will behave */
    animation-delay: 0s;
    /* how long to delay the animation from starting */
    animation-iteration-count: 1;
    /* how many times the animation will play */
    animation-name: slideInFromLeft;
    /* the name of the animation we defined above */
}

.back-btn a{
    color: #000000;
}

.back-btn:hover{
    background: #b13c3c;
    color: white;
}

.back-btn:hover {
    transition: all 0.4s ease;
    color: white;
}

.input-grp{
    top: 180px;
    margin-left: 50px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

#qrcode{
    display: flex;
    justify-content: center;
}

input[type=submit]{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background:#800000;
    border: 0;
    outline: none;
    border-radius: 30px;
    color: white;
    margin-top: 25px;
}

input[type=submit]:hover {
    transition: all 0.4s ease;
    background: #9e1c1c;
}

.check-box{
    margin: 10px 10px 30px 0;
}

#spanr{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

.scanner{
    align-items: center;
    margin-top: 30px;
}