.placeform{
  overflow: hidden;
  background-color: white;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  margin:auto;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  transform:translate(-50%, -50%);
  box-shadow: 5px 10px 10px;
  border-radius: 8%;;
}
#qrcode{
  margin-left: 40px;
}
input{
  font-family: 'Asap',sans-serif;
  display: block;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px 10px;
  width: 100%;
}
h1{
  text-align: center;
  margin-bottom: 10px;
}
.submitbutton{
  margin-bottom: 15px;
}
