{% extends 'base.html' %}

{% block head %}

{% endblock %}

{%block body%}
<div class="hero">

  <a href="/owner_page/{{username}}" class="submitbtn">Go back</a>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/displayqr.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='javascript/qrcode.js') }}"></script>
  <div class="showqrcode">
    <h1>Your QRcode: </h1>
    <div id="qrcode"></div>
    <button type="button" class="actionbuttons" id="downloadbutton" onclick="download()">Download qrcode</button>
    <button type="button" class="actionbuttons" id="newplacebutton" onclick="goBack()">New QRcode</button>
  </div>
  <script type="text/javascript">
    function generateqr(value) {
      new QRCode(document.getElementById("qrcode"), value)
    }
    // qrcode="https://10.82.211.12:5000/scan/"+"{{username}}/"+"{{place_address}}"+"/timer"
    qrcode = "{{placename}}/{{place_address}}"
    window.onload = generateqr(qrcode);
    function download() {
      var a = document.body.appendChild(
        document.createElement("a")
      );
      a.download = "newfile.html";
      a.href = "data:text/html," + document.getElementById("qrcode").innerHTML;
      a.click(); //Trigger a click on the element
    }
    function goBack() {
      window.history.back();
    }
  </script>
</div>

{%endblock%}