{% extends 'base2.html' %}

{% block head %}

{% endblock %}

{%block body%}




<div class="row">
    <div class="col1">
        <div class="card">
            <img src="{{url_for('static', filename='images/full-logo.png')}}" align="middle" />
            <h2> MANAGIT - CORONA DISEASE MANAGEMENT</h2>
            <h3>A single application for every user!</h3>
            <h3>Together we can win!</h3>

            <div class="option">
                <ul>
                    <a href="{{url_for('login_page')}}"> Login </a>
                </ul>
                <ul>
                    <a id="registerlink" href="{{url_for('register_visitor')}}">Register</a>
                </ul>
                <ul>
                    <a id="registerlink" href="{{url_for('imprint')}}">IMPRINT</a>
                </ul>
            </div>
        </div>
    </div>
</div>



{%endblock%}