{% extends 'base2.html' %}

{% block head %}

{% endblock %}


{%block body%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login_register.css') }}">
<div class="hero">
    <div class="form-box">
        <div class="logo-r">
            <img src="./static/images/full-logo.png" alt="MANAGIT">
        </div>
        {%if usernametaken%}
        <p style="color:red">Username is taken</p>
        {%endif%}
        <h1 style="text-align:center;margin:20px;">Owner registration</h1>
        <form class="input-grp" method="post">
            <!-- Place Owner info -->
            <input id="name" name="name" type="text" class="input-field" placeholder="Name" required>
            <input id="email" name="email" type="email" class="input-field" placeholder="Email Address">
            <input id="phone" name="phone" type="text" class="input-field" placeholder="Phone Number">
            <!-- Place info -->
            <input id="address" name="address" type="text" class="input-field" placeholder="Address" required>
            <input id="username" name="username" type="text" class="input-field" placeholder="Username" required>
            <input id="psw" name="psw" type="password" class="input-field" placeholder="Password" required>

            <button type="submit" class="submit-btn">Register</button>
        </form>
        <a id="alreadyregisteredlink" href="{{url_for('login_page')}}">Already registered?</a>
        <a href="{{url_for('register_visitor')}}" id="registervisitorlink">Are you a visitor?</a>
    </div>
</div>
<script src="./static/javascript/reg.js"></script>
{%endblock%}