{% extends 'base.html' %}

{% block head %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
</script>

<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet"
    type="text/css" />
{% endblock %}

{%block body%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/agentaccesspages.css') }}">

<h1>Hello from Single</h1>


<a href="/agent/{{username}}/trackInfection" class="submitbtn">Go back</a>
{%endblock%}