{% extends 'base.html' %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
</script>

<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet"
  type="text/css" />
{% endblock %}

{%block body%}

<script>
  $(function () {
    var availableTags = [
      {%for name in names %}
            "{{name}}",
    {% endfor %}
    ];
  $("#name").autocomplete({
    source: availableTags
  });
  } );


  $(function () {
      var availableTags = [
        {%for place in places %}
            "{{place}}",
      {% endfor %}
    ];
    $("#place").autocomplete({
      source: availableTags
    });
  } );
</script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/visitedplacesaccess_page.css') }}">
<div class="hero">
  <form method="POST">
    <h4>Note: To get all items just press "Search" without filling the search field</h4><br>
    <input class="searchbar" type="search" placeholder="Search by Name" name="name" value="" id="name">
    <input class="searchbar" type="search" placeholder="Search by Place" name="place" value="" id="place">
    <input class="searchbar" type="datetime" placeholder="Enter Entry Time" name="entrydate" value="" >
    <input class="searchbar" type="datetime" placeholder="Enter Exit Time" name="exitdate" value="" >

    <input type="submit" name="" value="Search">

    <a href="/agent/{{username}}" class="submitbtn">Go back</a>

    <table class="infotable">
      <tr>
        <th>Visitor</th>
        <th>Place</th>
        <th>Entry DateTime</th>
        <th>Exit DateTime</th>
        <th>Infected</th>
      </tr>
      {%for visitedplace in visitedplaces%}
      <tr>
        <td>{{visitedplace[0]}}</td>
        <td>{{visitedplace[1]}}</td>
        <td>{{visitedplace[2]}}</td>
        <td>{{visitedplace[3]}}</td>
        <td>{{visitedplace[4]}}</td>
      </tr>
      {%endfor%}
    </table>
  </form>
</div>

{%endblock%}